name: Build and Release
on: [push]
jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Build JAR
        run: ./gradlew build
      - name: Create/Update Release & Upload JAR
        uses: softprops/action-gh-release@v1
        with:
          tag_name: experimental-build
          name: Experimental Build
          body: ⚠️ This is an automated release of latest changes. There might be issues and untested features.
          files: build/libs/*.jar
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}